﻿@model ExpenseManager3000Client.Models.Despesa

@{
    ViewBag.Title = "Remover Despesa";
}

<h2>Remover</h2>

<h3>Tem a certeza que deseja remover esta despesa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MeiosPagamento.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeiosPagamento.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiposDespesa.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposDespesa.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
