﻿@model ExpenseManager3000Client.Models.MeioPagamento

@{
    ViewBag.Title = "Remover Meio de Pagamento";
}

<h2>Remover</h2>

<h3>Tem a certeza que deseja remover este meio de pagamento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
