﻿@model IEnumerable<ExpenseManager3000Client.Models.MeioPagamento>

@{
    ViewBag.Title = "Meios de Pagamento";
}

<h2>Meios de Pagamento</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.MeioPagamentoId }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.MeioPagamentoId })
        </td>
    </tr>
}

</table>
